[secret]
wifi_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD
mqtt_server = CHANGE_ME_TO_THE_REAL_MQTT_SERVER
mqtt_port = CHANGE_ME_TO_THE_REAL_MQTT_PORT
mqtt_username = CHANGE_ME_TO_THE_REAL_MQTT_USERNAME
mqtt_password = CHANGE_ME_TO_THE_REAL_MQTT_PASSWORD